CONNECTION_STRING=[YOUR MONGODB CONNECTION STRING]
ACCESS_TOKEN_SECRET=[JWT SECRET ]
PORT=[YOUR PORT NUMBER]
SALT_ROUNDS=[SALT ROUNDS AN INTEGER]
NANOID_SIZE=[NANOID SIZE AS INTEGER]
BASE_URL=[YOUR BASE URL]